<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- Signup Card -->
      <div *ngIf="signupDiv" class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-center mb-4">Signup</h5>
          <form>
            <div class="form-group">
              <label>Full Name</label>
              <input type="text" class="form-control" placeholder="Enter Full Name" name="name" [(ngModel)]="user.name">
            </div>
            
            <div class="form-group">
              <label>Gender</label>
              <select class="form-control" [(ngModel)]="user.gender">
                <option value="" disabled selected hidden>Choose Gender</option>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
              </select>
            </div>
            
            <div class="form-group">
              <label>Date Of Birth</label>
              <input type="date" class="form-control" name="dob" [(ngModel)]="user.dob">
            </div>
            
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="Enter Email" name="email" [(ngModel)]="user.email">
            </div>
            
            <div class="form-group">
              <label>Phone No</label>
              <input type="tel" class="form-control" placeholder="Enter Phone No" name="phoneno" [(ngModel)]="user.phoneno">
            </div>
            
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Enter Password" name="password" [(ngModel)]="user.password">
            </div>
            
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" class="form-control" placeholder="Enter Confirm Password" name="confirmPassword" [(ngModel)]="user.confirmPassword">
            </div>
            
            <button type="button" class="btn btn-primary btn-block" (click)="signup()">Signup</button>
          </form>
          <p class="text-center mt-3">Already have an account? <a href="#" (click)="toggleLogin()">Login</a></p>
        </div>
      </div>
      
      <!-- Login Card -->
      <div *ngIf="loginDiv" class="card mt-3 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-center mb-4">User Login</h5>
          <form>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="Enter Email" name="email" [(ngModel)]="user.email">
            </div>
            
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Enter Password" name="password" [(ngModel)]="user.password">
            </div>
            
            <button type="button" class="btn btn-primary btn-block" (click)="login()">Login</button>
          </form>
          <p class="text-center mt-3">Don't have an account? <a href="#" (click)="toggleSignup()">Signup</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
